:root {
	--background-color: #1d1f2160;
	--foreground-color: #c5c8c6;
	--accent-color: #b294bb;
	--accent-color-active: #cc6666;

	--dark-red: #a54242;
	--dark-green: #8c9440;
	--dark-yellow: #de935f;
	--dark-blue: #5f819d;
	--dark-purple: #85678f;
	--dark-cyan: #5e8d87;

	--red: #cc6666;
	--green: #b5bd68;
	--yellow: #f0c674;
	--blue: #81a2be;
	--purple: #b294bb;
	--cyan: #8abeb7;
